<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

	<connectionStrings>
  <add name="LabelPrint.Properties.Settings.LabelPrintDBConnectionString"
   connectionString="Data Source=DESKTOP-GFBVDG9;Initial Catalog=LabelPrintDB;User ID=sa;Password=Belal@123"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>
